* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.95);
  width: 350px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.profile-icon {
  text-align: center;
  margin-bottom: 20px;
}

.profile-icon .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ddd;
  margin: 0 auto;
}

.profile-icon h2 {
  margin-top: 10px;
  font-size: 22px;
}

.form-box {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 8px;
  outline: none;
}

input:focus {
  border-color: #4d7e97;
}

/* BOTÃO VOLTAR — igual ao botão Entrar */


/* Hover */
.btn-voltar:hover {
    background-color: #3c657a;      /* escurece ao passar o mouse */
}
.h3
{
 color: #bbb;
}











